@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";
/* 
:root {
    --ui-primary: black;
}
  
.dark {
    --ui-primary: white;
} */

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --container-8xl: 90rem;
}

:root {
  --ui-container: var(--container-8xl);
}